.header img{
    height: 80px;
    
}
.logo{
    text-align: center;
}

.nav-bar{
    padding: 20px 60px;
}

.nav-bar a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
    font-size: 16px;
}

.nav-bar a:hover{
    color:black;
}